<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341024830914-9qudn3s1ks5hsgv4as1das9sga326ege.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341024830914-9qudn3s1ks5hsgv4as1das9sga326ege</string>
	<key>API_KEY</key>
	<string>AIzaSyCZcJjMrzmFff2zuP4_vBUn5NRlQpTlnEw</string>
	<key>GCM_SENDER_ID</key>
	<string>341024830914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.monitoringKualitasUdara</string>
	<key>PROJECT_ID</key>
	<string>tubes-monitoring-udara</string>
	<key>STORAGE_BUCKET</key>
	<string>tubes-monitoring-udara.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341024830914:ios:df83ebbf83aa9ac019d25b</string>
</dict>
</plist>